{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
  "rules": {
    "curly": ["error", "all"],
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-await-in-loop": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling"],
          "object",
          "type"
        ],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ],
    "tsdoc/syntax": "warn",
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "prefer": "type-imports",
        "disallowTypeAnnotations": true
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "overrides": [
    {
      "files": ["scripts/*"],
      "extends": ["plugin:jsdoc/recommended"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "tsdoc/syntax": "off"
      }
    },
    {
      "files": ["*.js"],
      "extends": ["plugin:jsdoc/recommended"],
      "plugins": ["jsdoc"],
      "rules": {
        "tsdoc/syntax": "off"
      }
    }
  ]
}
